body{
font-family: Arial;
text-align:center;
background-color: rgba(255,255,255,0.85);
background-blend-mode: lighten;
}

header{
background:#ff5733;
color:white;
padding:15px;
}

nav a{
margin:10px;
color:white;
text-decoration:none;
font-weight:bold;
}

.hero{
.hero{
background-image: url("https://images.unsplash.com/photo-1604382355076-af4b0eb60143");
background-size: cover;
background-position: center;
color: white;
padding: 120px;
}
}

.menu{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.item{
border:1px solid gray;
padding:15px;
background:white;
width:150px;
}

button{
background:#ff5733;
color:white;
border:none;
padding:10px;
cursor:pointer;
}

.review{
background:white;
margin:10px;
padding:10px;
border-radius:5px;
}

.offer{
background:white;
margin:15px;
padding:15px;
}

.menu-bg{
background-image: url("https://images.unsplash.com/photo-1593560708920-61dd98c46a4e");
background-size: cover;
background-position: center;
}

.offers-bg{
background-image: url("https://images.unsplash.com/photo-1513104890138-7c749659a591");
background-size: cover;
background-position: center;
}

.order-bg{
background-image: url("https://images.unsplash.com/photo-1548365328-9f547fb0953b");
background-size: cover;
background-position: center;
}

.contact-bg{
background-image: url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092");
background-size: cover;
background-position: center;
}